*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #dadada;
  font-size: 10px;
}

.previewBaku {
  background-image: url(../images/baku.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}


.previewLondon{
  background-image: url(../images/london.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.previewMadrid{
  background-image: url(../images/rome.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.previewRome{
  background-image: url(../images/madrid.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}



.container {
  margin: 20px;
  width: 90%;
}


div {
  width: 100%;
  float: left;
  min-height: 350px;
}

h1 {
  font-size: 2.5em;
  margin: 0;
}

@media screen and (min-width: 575px){
   div {
    margin: 1%;
    width: 47%;
  }
}

@media screen and (min-width: 991px){
   div {
    margin: 1%;
    width: 23%;
    padding: 2em;
